/*  your css code here. If applicable */
body{
  background-color:#f2f2f2;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family: Arial, sans-serif;
}

/* Card */
.card{
  width:300px;
  padding:20px;
  background-color:white;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Image */
.card img{
  width:100%;
}

/* Title */
.card h1{
  font-size:32px;
  margin:15px 0;
}

/* Price */
.price{
  font-size:20px;
  font-weight:bold;
}

/* Description */
.desc{
  font-size:18px;
}

/* Button */
button{
  margin-top:15px;
  padding:12px 25px;
  background-color:#f26c5f;
  color:white;
  border:none;
  border-radius:20px;
  font-size:18px;
  cursor:pointer;
}
